@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.auto-complete {
  display: flex;
  flex-flow: row wrap;

  .textfield-label {
    font-family: terraware.$tw-fnt-frm-fld-label-font-family;
    font-size: terraware.$tw-fnt-frm-fld-label-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-label-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-label-line-height;
    color: terraware.$tw-clr-txt-secondary;
    margin-bottom: terraware.$tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .MuiInputBase-root {
    border: 1px solid terraware.$tw-clr-brdr-secondary;
    border-radius: terraware.$tw-spc-base-x-small;
    position: unset;
    padding: 0;
  }

  .Mui-disabled {
    border-color: terraware.$tw-clr-brdr-secondary;
    font-weight: 500;
    opacity: terraware.$tw-opcty-semantic-off;
    color: terraware.$tw-clr-txt;

    ::placeholder {
      color: terraware.$tw-clr-txt;
      opacity: 1;
    }
  }

  input {
    padding: calc(#{terraware.$tw-spc-base-xx-small} * 2.5) calc(#{terraware.$tw-spc-base-xx-small} * 3);
  }

  & .MuiInputBase-input {
    height: '21px';
  }
  & .MuiOutlinedInput-root {
    fieldset {
      border-color: terraware.$tw-clr-brdr-secondary;
    }

    &:hover fieldset {
      border-color: terraware.$tw-clr-brdr-hover;
    }
    .Mui-focused fieldset {
      border-color: terraware.$tw-clr-brdr-hover;
    }
  }

  &--icon-right {
    width: terraware.$tw-fnt-frm-fld-text-value-line-height;
    height: terraware.$tw-fnt-frm-fld-text-value-line-height;
    fill: terraware.$tw-clr-icn;
    margin-left: terraware.$tw-spc-base-x-small;
  }

  &.select {
    .options-container {
      top: 0;
      margin-top: terraware.$tw-spc-base-x-small;

      .MuiAutocomplete-option {
        font-family: terraware.$tw-fnt-frm-fld-select-value-font-family;
        font-size: terraware.$tw-fnt-frm-fld-select-value-font-size;
        font-weight: terraware.$tw-fnt-frm-fld-select-value-font-weight;
        line-height: terraware.$tw-fnt-frm-fld-select-value-line-height;
        padding: terraware.$tw-spc-base-x-small terraware.$tw-spc-base-small;
        cursor: pointer;

        &:hover {
          background-color: terraware.$tw-clr-bg-selected-ghost-hover;
          color: terraware.$tw-clr-txt;
        }

        &:active {
          background-color: terraware.$tw-clr-bg-selected-ghost-active;
          color: terraware.$tw-clr-txt;
        }

        &[aria-selected='true'],
        &[aria-selected='true']:hover {
          background-color: terraware.$tw-clr-bg-selected;
          color: terraware.$tw-clr-txt-on-selected;
        }

        &:disabled {
          opacity: terraware.$tw-opcty-semantic-off;
        }
      }
    }
  }

  .textfield-label-container {
    display: flex;
    width: 100%;
    margin-top: terraware.$tw-spc-base-xx-small;
  }

  .textfield-error-text {
    font-family: terraware.$tw-fnt-frm-fld-error-text-font-family;
    font-size: terraware.$tw-fnt-frm-fld-error-text-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-error-text-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-error-text-line-height;
    color: terraware.$tw-clr-txt-danger;
    display: block;
    width: 100%;
    max-width: 100%;

    &--icon {
      fill: terraware.$tw-clr-icn-danger;
      width: terraware.$tw-fnt-frm-fld-error-text-line-height;
      height: terraware.$tw-fnt-frm-fld-error-text-line-height;
      margin-right: terraware.$tw-spc-base-x-small;
    }
  }

  &--error {
    fieldset {
      border: none;
    }
    .MuiOutlinedInput-root {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger;
      &:hover fieldset {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger-hover;
      }
      &.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger-active;
      }
    }
    background-color: terraware.$tw-clr-bg-danger-tertiary;
    border-radius: terraware.$tw-spc-base-x-small;
    &:active {
      outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-danger-active;
    }

    &:focus-within,
    &:focus-visible {
      outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-danger-active;
      outline-offset: -(terraware.$tw-sz-frm-fld-text-input-stroke);
    }
  }
}
