@import '../../style-dictionary-dist2/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.auto-complete {
  display: flex;
  flex-flow: row wrap;

  .textfield-label {
    font-family: $tw-fnt-frm-fld-label-font-family;
    font-size: $tw-fnt-frm-fld-label-font-size;
    font-weight: $tw-fnt-frm-fld-label-font-weight;
    line-height: $tw-fnt-frm-fld-label-line-height;
    color: $tw-clr-txt-secondary;
    margin-bottom: $tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .MuiInputBase-root {
    border: 1px solid $tw-clr-brdr-secondary;
    border-radius: $tw-spc-base-x-small;
    position: unset;
    padding: 0;
  }

  .Mui-disabled {
    border-color: $tw-clr-brdr-secondary;
    font-weight: 500;
    opacity: $tw-opcty-semantic-off;
    color: $tw-clr-txt;

    ::placeholder {
      color: $tw-clr-txt;
      opacity: 1;
    }
    
  }

  input {
    padding: calc(#{$tw-spc-base-xx-small} * 2.5) calc(#{$tw-spc-base-xx-small} * 3);
  }

  & .MuiInputBase-input {
    height: '21px';
  };
  & .MuiOutlinedInput-root {
    &:hover fieldset {
      border-color: $tw-clr-brdr-hover;
    }
    .Mui-focused fieldset {
      border-color: $tw-clr-brdr-hover;
    }
  }

  &--icon-right {
    width: $tw-fnt-frm-fld-text-value-line-height;
    height: $tw-fnt-frm-fld-text-value-line-height;
    fill: $tw-clr-icn;
    margin-left: $tw-spc-base-x-small;
  }

  &.select {
    .options-container {
      top: 0;
      margin-top: $tw-spc-base-x-small;

      .MuiAutocomplete-option {
        font-family: $tw-fnt-frm-fld-select-value-font-family;
        font-size: $tw-fnt-frm-fld-select-value-font-size;
        font-weight: $tw-fnt-frm-fld-select-value-font-weight;
        line-height: $tw-fnt-frm-fld-select-value-line-height;
        padding: $tw-spc-base-x-small $tw-spc-base-small;
        cursor: pointer;

        &:hover {
          background-color: $tw-clr-bg-selected-ghost-hover;
          color: $tw-clr-txt;
        }

        &:active {
          background-color: $tw-clr-bg-selected-ghost-active;
          color: $tw-clr-txt;
        }

        &[aria-selected="true"], &[aria-selected="true"]:hover {
          background-color: $tw-clr-bg-selected;
          color: $tw-clr-txt-on-selected;
        }

        &:disabled {
          opacity: $tw-opcty-semantic-off;
        }
      }
    }
  }

  .textfield-label-container {
    display: flex;
    width: 100%;
    margin-top: $tw-spc-base-xx-small;
  }

  .textfield-error-text {
    font-family: $tw-fnt-frm-fld-error-text-font-family;
    font-size: $tw-fnt-frm-fld-error-text-font-size;
    font-weight: $tw-fnt-frm-fld-error-text-font-weight;
    line-height: $tw-fnt-frm-fld-error-text-line-height;
    color: $tw-clr-txt-danger;
    display: block;
    width: 100%;
    max-width: 100%;

    &--icon {
      fill: $tw-clr-icn-danger;
      width: $tw-fnt-frm-fld-error-text-line-height;
      height: $tw-fnt-frm-fld-error-text-line-height;
      margin-right: $tw-spc-base-x-small;
    }
  }

  &--error {     
    .MuiOutlinedInput-root {
      border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-brdr-danger;
      &:hover fieldset {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-brdr-danger-hover;
      }
      &.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-brdr-danger-active 
      }
    }
      background-color: $tw-clr-bg-danger-tertiary;
      border-radius: $tw-spc-base-x-small;
      &:active {
        outline: $tw-sz-frm-fld-text-input-stroke-active solid $tw-clr-brdr-danger-active;
      }
  
      &:focus-within,
      &:focus-visible {
        outline: $tw-sz-frm-fld-text-input-stroke-active solid $tw-clr-brdr-danger-active;
        outline-offset: -$tw-sz-frm-fld-text-input-stroke;
      }
    
  }
}
