{
  "presets": [
    ["@babel/preset-typescript", { isTSX: true, allExtensions: true }],
    ["react-app", { "absoluteRuntime": false }]
  ],
  "ignore": [
    "src/App.js",
    "src/App.css",
    "src/logo.svg",
    "src/react-app-env.d.ts",
    "src/reportWebVitals.js",
    "src/setupTests.js",
    "src/stories",
    "src/theme.ts"
  ]
}
