@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.button {
  border: 0;
  border-style: solid;
  position: relative;
  margin: 5px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: terraware.$tw-sz-btn-stroke solid terraware.$tw-clr-brdr-focus;
    outline-offset: 2px;
  }

  &:disabled {
    opacity: terraware.$tw-opcty-semantic-off;
  }

  .tw-icon {
    vertical-align: top;
  }

  &--small {
    min-height: terraware.$tw-sz-btn-small-height;
    font-size: terraware.$tw-fnt-btn-label-small-font-size;
    font-weight: terraware.$tw-fnt-btn-label-small-font-weight;
    font-family: terraware.$tw-fnt-btn-label-small-font-family;
    line-height: terraware.$tw-fnt-btn-label-small-line-height;
    min-width: terraware.$tw-sz-btn-small-min-width;
    padding: calc((#{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2)
      calc(#{terraware.$tw-sz-btn-small-height}/ 2);
    border-radius: calc(#{terraware.$tw-sz-btn-small-height} / 2);

    .tw-icon--small {
      height: terraware.$tw-fnt-btn-label-small-line-height;
      width: terraware.$tw-fnt-btn-label-small-line-height;
      margin-right: calc((#{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2);

      &.icon-spinner {
        margin-right: 0;
      }
    }
    .icon-right {
      height: terraware.$tw-fnt-btn-label-small-line-height;
      width: terraware.$tw-fnt-btn-label-small-line-height;
      margin-left: calc((#{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2);
      margin-right: 0;
    }
    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-small-height} / 2) - (((#{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2))
      );
    }
    &.button-with-right-icon {
      padding-right: calc(
        (#{terraware.$tw-sz-btn-small-height} / 2) - (((#{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: calc((#{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2);
      padding-right: calc((#{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2);
      .tw-icon--small {
        margin-right: 0;
      }
    }
  }

  &--medium {
    min-height: terraware.$tw-sz-btn-medium-height;
    font-size: terraware.$tw-fnt-btn-label-medium-font-size;
    font-weight: terraware.$tw-fnt-btn-label-medium-font-weight;
    font-family: terraware.$tw-fnt-btn-label-medium-font-family;
    line-height: terraware.$tw-fnt-btn-label-medium-line-height;
    min-width: terraware.$tw-sz-btn-medium-min-width;
    padding: calc((#{terraware.$tw-sz-btn-medium-height} - #{terraware.$tw-fnt-btn-label-medium-line-height}) / 2)
      calc(#{terraware.$tw-sz-btn-medium-height}/ 2);
    border-radius: calc(#{terraware.$tw-sz-btn-medium-height} / 2);

    .tw-icon--medium {
      height: terraware.$tw-fnt-btn-label-medium-line-height;
      width: terraware.$tw-fnt-btn-label-medium-line-height;
      margin-right: calc((#{terraware.$tw-sz-btn-medium-height} - #{terraware.$tw-fnt-btn-label-medium-line-height}) / 2);

      &.icon-spinner {
        margin-right: 0;
      }
    }
    .icon-right {
      height: terraware.$tw-fnt-btn-label-medium-line-height;
      width: terraware.$tw-fnt-btn-label-medium-line-height;
      margin-left: calc((#{terraware.$tw-sz-btn-medium-height} - #{terraware.$tw-fnt-btn-label-medium-line-height}) / 2);
      margin-right: 0;
    }
    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-medium-height} / 2) -
          (((#{terraware.$tw-sz-btn-medium-height} - #{terraware.$tw-fnt-btn-label-medium-line-height}) / 2))
      );
    }
    &.button-with-right-icon {
      padding-right: calc(
        (#{terraware.$tw-sz-btn-medium-height} / 2) -
          (((#{terraware.$tw-sz-btn-medium-height} - #{terraware.$tw-fnt-btn-label-medium-line-height}) / 2))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: 8px;
      padding-right: 8px;
      .tw-icon--medium {
        margin-right: 0;
      }
    }
  }

  &--large {
    min-height: terraware.$tw-sz-btn-large-height;
    font-size: terraware.$tw-fnt-btn-label-large-font-size;
    font-weight: terraware.$tw-fnt-btn-label-large-font-weight;
    font-family: terraware.$tw-fnt-btn-label-large-font-family;
    line-height: terraware.$tw-fnt-btn-label-large-line-height;
    min-width: terraware.$tw-sz-btn-large-min-width;
    padding: calc((#{terraware.$tw-sz-btn-large-height} - #{terraware.$tw-fnt-btn-label-large-line-height}) / 2)
      calc(#{terraware.$tw-sz-btn-large-height}/ 2);
    border-radius: calc(#{terraware.$tw-sz-btn-large-height} / 2);

    .tw-icon--large {
      height: terraware.$tw-fnt-btn-label-large-line-height;
      width: terraware.$tw-fnt-btn-label-large-line-height;
      margin-right: calc((#{terraware.$tw-sz-btn-large-height} - #{terraware.$tw-fnt-btn-label-large-line-height}) / 2);

      &.icon-spinner {
        margin-right: 0;
      }
    }
    .icon-right {
      height: terraware.$tw-fnt-btn-label-large-line-height;
      width: terraware.$tw-fnt-btn-label-large-line-height;
      margin-left: calc((#{terraware.$tw-sz-btn-large-height} - #{terraware.$tw-fnt-btn-label-large-line-height}) / 2);
      margin-right: 0;
    }
    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-large-height} / 2) - (((#{terraware.$tw-sz-btn-large-height} - #{terraware.$tw-fnt-btn-label-large-line-height}) / 2))
      );
    }
    &.button-with-right-icon {
      padding-right: calc(
        (#{terraware.$tw-sz-btn-large-height} / 2) - (((#{terraware.$tw-sz-btn-large-height} - #{terraware.$tw-fnt-btn-label-large-line-height}) / 2))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: 10px;
      padding-right: 10px;
      .tw-icon--large {
        margin-right: 0;
      }
    }
  }

  &--xlarge {
    min-height: terraware.$tw-sz-btn-x-large-height;
    font-size: terraware.$tw-fnt-btn-label-x-large-font-size;
    font-weight: terraware.$tw-fnt-btn-label-x-large-font-weight;
    font-family: terraware.$tw-fnt-btn-label-x-large-font-family;
    line-height: terraware.$tw-fnt-btn-label-x-large-line-height;
    min-width: terraware.$tw-sz-btn-x-large-min-width;
    padding: calc((#{terraware.$tw-sz-btn-x-large-height} - #{terraware.$tw-fnt-btn-label-x-large-line-height}) / 2)
      calc(#{terraware.$tw-sz-btn-x-large-height}/ 2);
    border-radius: calc(#{terraware.$tw-sz-btn-x-large-height} / 2);

    .tw-icon--xlarge {
      height: terraware.$tw-fnt-btn-label-x-large-line-height;
      width: terraware.$tw-fnt-btn-label-x-large-line-height;
      margin-right: calc((#{terraware.$tw-sz-btn-x-large-height} - #{terraware.$tw-fnt-btn-label-x-large-line-height}) / 2);

      &.icon-spinner {
        margin-right: 0;
      }
    }
    .icon-right {
      height: terraware.$tw-fnt-btn-label-x-large-line-height;
      width: terraware.$tw-fnt-btn-label-x-large-line-height;
      margin-left: calc((#{terraware.$tw-sz-btn-x-large-height} - #{terraware.$tw-fnt-btn-label-x-large-line-height}) / 2);
      margin-right: 0;
    }
    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-x-large-height} / 2) -
          (((#{terraware.$tw-sz-btn-x-large-height} - #{terraware.$tw-fnt-btn-label-x-large-line-height}) / 2))
      );
    }
    &.button-with-right-icon {
      padding-right: calc(
        (#{terraware.$tw-sz-btn-x-large-height} / 2) -
          (((#{terraware.$tw-sz-btn-x-large-height} - #{terraware.$tw-fnt-btn-label-x-large-line-height}) / 2))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: 12px;
      padding-right: 12px;
      .tw-icon--xlarge {
        margin-right: 0;
      }
    }
  }

  &.button-no-label {
    min-width: auto;
  }
}

.productive-primary {
  background-color: terraware.$tw-clr-bg-brand;
  color: terraware.$tw-clr-txt-on-brand;

  svg {
    fill: terraware.$tw-clr-icn-on-brand;
  }

  &:hover {
    background: terraware.$tw-clr-bg-brand-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-brand-active;
  }
}

.productive-secondary {
  background-color: terraware.$tw-clr-bg-brand-ghost;
  color: terraware.$tw-clr-txt-brand;
  svg {
    fill: terraware.$tw-clr-icn-brand;
  }

  border: terraware.$tw-sz-btn-stroke solid terraware.$tw-clr-brdr-brand;
  &:hover {
    background-color: terraware.$tw-clr-bg-brand-ghost-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-brand-ghost-active;
  }
}

.productive-ghost {
  background-color: terraware.$tw-clr-bg-brand-ghost;
  color: terraware.$tw-clr-txt-brand;

  svg {
    fill: terraware.$tw-clr-icn-on-brand;
  }

  &:hover {
    background: terraware.$tw-clr-bg-brand-ghost-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-brand-ghost-active;
  }
}

.passive-primary {
  background-color: terraware.$tw-clr-bg-tertiary;
  color: terraware.$tw-clr-txt;
  svg {
    fill: terraware.$tw-clr-icn;
  }
  &:hover {
    background: terraware.$tw-clr-bg-tertiary-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-tertiary-active;
  }
}

.passive-secondary {
  background-color: terraware.$tw-clr-bg-ghost;
  color: terraware.$tw-clr-brdr-secondary;
  svg {
    fill: terraware.$tw-clr-brdr-secondary;
  }
  border: terraware.$tw-sz-btn-stroke solid terraware.$tw-clr-brdr-secondary;
  &:hover {
    background-color: terraware.$tw-clr-bg-ghost-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-ghost-active;
  }
}

.passive-ghost {
  background-color: terraware.$tw-clr-bg-ghost;
  color: terraware.$tw-clr-txt;
  svg {
    fill: terraware.$tw-clr-icn;
  }
  &:hover {
    background-color: terraware.$tw-clr-bg-ghost-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-ghost-active;
  }
}

.destructive-primary {
  background-color: terraware.$tw-clr-bg-danger;
  color: terraware.$tw-clr-txt-on-danger;
  svg {
    fill: terraware.$tw-clr-icn-on-danger;
  }
  &:hover {
    background: terraware.$tw-clr-bg-danger-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-danger-active;
  }
}

.destructive-secondary {
  background-color: terraware.$tw-clr-bg-danger-ghost;
  color: terraware.$tw-clr-txt-danger;
  svg {
    fill: terraware.$tw-clr-icn-danger;
  }
  border: terraware.$tw-sz-btn-stroke solid terraware.$tw-clr-brdr-danger;
  &:hover {
    background-color: terraware.$tw-clr-bg-danger-ghost-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-danger-ghost-active;
  }
}

.destructive-ghost {
  background-color: terraware.$tw-clr-bg-danger-ghost;
  color: terraware.$tw-clr-txt-danger;
  svg {
    fill: terraware.$tw-clr-icn-danger;
  }
  &:hover {
    background-color: terraware.$tw-clr-bg-danger-ghost-hover;
  }

  &:active {
    background-color: terraware.$tw-clr-bg-danger-ghost-active;
  }
}

.productive-secondary,
.passive-secondary,
.destructive-secondary {
  &--small {
    padding: calc(
        (#{terraware.$tw-sz-btn-small-height} - (2 * #{terraware.$tw-sz-btn-stroke}) - #{terraware.$tw-fnt-btn-label-small-line-height}) / 2
      )
      calc((#{terraware.$tw-sz-btn-small-height} - 2 * #{terraware.$tw-sz-btn-stroke}) / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-small-height} / 2) - #{terraware.$tw-sz-btn-stroke} - ((((
                    #{terraware.$tw-sz-btn-small-height} - #{terraware.$tw-fnt-btn-label-small-line-height}
                  ) / 2)))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: 4px;
      padding-right: 4px;
      .tw-icon--small {
        margin-right: 0;
      }
    }
  }

  &--medium {
    padding: calc(
        (#{terraware.$tw-sz-btn-medium-height} - (2 * #{terraware.$tw-sz-btn-stroke}) - #{terraware.$tw-fnt-btn-label-medium-line-height}) / 2
      )
      calc((#{terraware.$tw-sz-btn-medium-height} - 2 * #{terraware.$tw-sz-btn-stroke}) / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-medium-height} / 2) - #{terraware.$tw-sz-btn-stroke} - ((((
                    #{terraware.$tw-sz-btn-medium-height} - #{terraware.$tw-fnt-btn-label-medium-line-height}
                  ) / 2)))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: 6px;
      padding-right: 6px;
      .tw-icon--medium {
        margin-right: 0;
      }
    }
  }

  &--large {
    padding: calc(
        (#{terraware.$tw-sz-btn-large-height} - (2 * #{terraware.$tw-sz-btn-stroke}) - #{terraware.$tw-fnt-btn-label-large-line-height}) / 2
      )
      calc((#{terraware.$tw-sz-btn-large-height} - 2 * #{terraware.$tw-sz-btn-stroke}) / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-large-height} / 2) - #{terraware.$tw-sz-btn-stroke} - ((((
                    #{terraware.$tw-sz-btn-large-height} - #{terraware.$tw-fnt-btn-label-large-line-height}
                  ) / 2)))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: 8px;
      padding-right: 8px;
      .tw-icon--large {
        margin-right: 0;
      }
    }
  }

  &--xlarge {
    padding: calc(
        (#{terraware.$tw-sz-btn-x-large-height} - (2 * #{terraware.$tw-sz-btn-stroke}) - #{terraware.$tw-fnt-btn-label-x-large-line-height}) / 2
      )
      calc((#{terraware.$tw-sz-btn-x-large-height} - 2 * #{terraware.$tw-sz-btn-stroke}) / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{terraware.$tw-sz-btn-x-large-height} / 2) - #{terraware.$tw-sz-btn-stroke} - ((((
                    #{terraware.$tw-sz-btn-x-large-height} - #{terraware.$tw-fnt-btn-label-x-large-line-height}
                  ) / 2)))
      );
    }
    &.button-no-label.button-with-icon {
      padding-left: 10px;
      padding-right: 10px;
      .tw-icon--xlarge {
        margin-right: 0;
      }
    }
  }
}
