@import '../../style-dictionary-dist/button_variables.scss';
@import '../../style-dictionary-dist2/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.button {
  border: 0;
  border-style: solid;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: $tw-sz-btn-stroke solid $tw-clr-brdr-focus;
    outline-offset: 2px;
  }


  &:disabled {
    opacity: $tw-opcty-semantic-off;
  }

  &--small {
    height: $tw-sz-btn-small-height;
    font-size: $tw-fnt-btn-label-small-font-size;
    font-weight: $tw-fnt-btn-label-small-font-weight;
    font-family: $tw-fnt-btn-label-small-font-family;
    line-height: $tw-fnt-btn-label-small-line-height;
    min-width: $tw-sz-btn-small-min-width;
    padding: calc((#{$tw-sz-btn-small-height} - #{$tw-fnt-btn-label-small-line-height}) / 2)
      calc(#{$tw-sz-btn-small-height}/ 2);
    border-radius: calc(#{$tw-sz-btn-small-height} / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{$tw-sz-btn-small-height} / 2) - (((#{$tw-sz-btn-small-height} - #{$tw-fnt-btn-label-small-line-height}) / 2))
      );

      .tw-icon--small {
        margin-right: calc((#{$tw-sz-btn-small-height} - #{$tw-fnt-btn-label-small-line-height}) / 2);
      }
    }
    &.button-no-label.button-with-icon {
      padding-left: 6px;
      padding-right: 6px;
      .tw-icon--small {
        margin-right: 0;
      }
    }
  }

  &--medium {
    height: $tw-sz-btn-medium-height;
    font-size: $tw-fnt-btn-label-medium-font-size;
    font-weight: $tw-fnt-btn-label-medium-font-weight;
    font-family: $tw-fnt-btn-label-medium-font-family;
    line-height: $tw-fnt-btn-label-medium-line-height;
    min-width: $tw-sz-btn-medium-min-width;
    padding: calc((#{$tw-sz-btn-medium-height} - #{$tw-fnt-btn-label-medium-line-height}) / 2)
      calc(#{$tw-sz-btn-medium-height}/ 2);
    border-radius: calc(#{$tw-sz-btn-medium-height} / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{$tw-sz-btn-medium-height} / 2) -
          (((#{$tw-sz-btn-medium-height} - #{$tw-fnt-btn-label-medium-line-height}) / 2))
      );
      .tw-icon--medium {
        margin-right: calc((#{$tw-sz-btn-medium-height} - #{$tw-fnt-btn-label-medium-line-height}) / 2);
      }
    }
    &.button-no-label.button-with-icon {
      padding-left: 8px;
      padding-right: 8px;
      .tw-icon--medium {
        margin-right: 0;
      }
    }
  }

  &--large {
    height: $tw-sz-btn-large-height;
    font-size: $tw-fnt-btn-label-large-font-size;
    font-weight: $tw-fnt-btn-label-large-font-weight;
    font-family: $tw-fnt-btn-label-large-font-family;
    line-height: $tw-fnt-btn-label-large-line-height;
    min-width: $tw-sz-btn-large-min-width;
    padding: calc((#{$tw-sz-btn-large-height} - #{$tw-fnt-btn-label-large-line-height}) / 2)
      calc(#{$tw-sz-btn-large-height}/ 2);
    border-radius: calc(#{$tw-sz-btn-large-height} / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{$tw-sz-btn-large-height} / 2) - (((#{$tw-sz-btn-large-height} - #{$tw-fnt-btn-label-large-line-height}) / 2))
      );
      .tw-icon--large {
        margin-right: calc((#{$tw-sz-btn-large-height} - #{$tw-fnt-btn-label-large-line-height}) / 2);
      }
    }
    &.button-no-label.button-with-icon {
      padding-left: 10px;
      padding-right: 10px;
      .tw-icon--large {
        margin-right: 0;
      }
    }
  }

  &--xlarge {
    height: $tw-sz-btn-x-large-height;
    font-size: $tw-fnt-btn-label-x-large-font-size;
    font-weight: $tw-fnt-btn-label-x-large-font-weight;
    font-family: $tw-fnt-btn-label-x-large-font-family;
    line-height: $tw-fnt-btn-label-x-large-line-height;
    min-width: $tw-sz-btn-x-large-min-width;
    padding: calc((#{$tw-sz-btn-x-large-height} - #{$tw-fnt-btn-label-x-large-line-height}) / 2)
      calc(#{$tw-sz-btn-x-large-height}/ 2);
    border-radius: calc(#{$tw-sz-btn-x-large-height} / 2);

    &.button-with-icon {
      padding-left: calc(
        (#{$tw-sz-btn-x-large-height} / 2) -
          (((#{$tw-sz-btn-x-large-height} - #{$tw-fnt-btn-label-x-large-line-height}) / 2))
      );
      .tw-icon--xlarge {
        margin-right: calc((#{$tw-sz-btn-x-large-height} - #{$tw-fnt-btn-label-x-large-line-height}) / 2);
      }
    }

    &.button-no-label.button-with-icon {
      padding-left: 12px;
      padding-right: 12px;
      .tw-icon--xlarge {
        margin-right: 0;
      }
    }
  }

  &.button-no-label {
    min-width: auto;
  }
}

.productive-primary {
  background-color: $tw-clr-bg-brand;
  color: $tw-clr-txt-on-brand;

  svg {
    fill: $tw-clr-txt-on-brand;
  }

  &:hover {
    background-color: $tw-clr-bg-brand-hover;
  }

  &:active {
    background-color: $tw-clr-bg-brand-active;
  }

}

.productive-secondary {
  background-color: $tw-clr-bg-brand-ghost;
  color: $tw-clr-txt-brand;
  svg {
    fill: $tw-clr-txt-brand;
  }

  border: $tw-sz-btn-stroke solid $tw-clr-brdr-brand;
  &:hover {
    background-color: $tw-clr-bg-brand-ghost-hover;
  }

  &:active {
    background-color: $tw-clr-bg-brand-ghost-active;
  }

  &--small {
    padding: calc(
        (#{$tw-sz-btn-small-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-small-line-height}) / 2
      )
      calc((#{$tw-sz-btn-small-height} - 2 * #{$tw-sz-btn-stroke}) / 2);

    &.button-no-label.button-with-icon {
      padding-left: 4px;
      padding-right: 4px;
      .tw-icon--small {
        margin-right: 0;
      }
    }
  }

  &--medium {
    padding: calc(
        (#{$tw-sz-btn-medium-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-medium-line-height}) / 2
      )
      calc((#{$tw-sz-btn-medium-height} - 2 * #{$tw-sz-btn-stroke}) / 2);

    &.button-no-label.button-with-icon {
      padding-left: 6px;
      padding-right: 6px;
      .tw-icon--small {
        margin-right: 0;
      }
    }
  }

  &--large {
    padding: calc(
        (#{$tw-sz-btn-large-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-large-line-height}) / 2
      )
      calc((#{$tw-sz-btn-large-height} - 2 * #{$tw-sz-btn-stroke}) / 2);

    &.button-no-label.button-with-icon {
      padding-left: 8px;
      padding-right: 8px;
      .tw-icon--small {
        margin-right: 0;
      }
    }
  }

  &--xlarge {
    padding: calc(
        (#{$tw-sz-btn-x-large-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-x-large-line-height}) / 2
      )
      calc((#{$tw-sz-btn-x-large-height} - 2 * #{$tw-sz-btn-stroke}) / 2);

    &.button-no-label.button-with-icon {
      padding-left: 10px;
      padding-right: 10px;
      .tw-icon--small {
        margin-right: 0;
      }
    }
  }
}

.passive-primary {
  background-color: $tw-clr-bg-tertiary;
  color: $tw-clr-txt;
  svg {
    fill: $tw-clr-txt;
  }
  &:hover {
    background-color: $tw-clr-bg-tertiary-hover;
  }

  &:active {
    background-color: $tw-clr-bg-tertiary-active;
  }

}

.passive-secondary {
  background-color: $tw-clr-bg-ghost;
  color: $tw-clr-txt;
  svg {
    fill: $tw-clr-txt;
  }
  border: $tw-sz-btn-stroke solid $tw-clr-brdr;
  &:hover {
    background-color: $tw-clr-bg-ghost-hover;
  }

  &:active {
    background-color: $tw-clr-bg-ghost-active;
  }

  &--small {
    padding: calc(
        (#{$tw-sz-btn-small-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-small-line-height}) / 2
      )
      calc((#{$tw-sz-btn-small-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }

  &--medium {
    padding: calc(
        (#{$tw-sz-btn-medium-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-medium-line-height}) / 2
      )
      calc((#{$tw-sz-btn-medium-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }

  &--large {
    padding: calc(
        (#{$tw-sz-btn-large-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-large-line-height}) / 2
      )
      calc((#{$tw-sz-btn-large-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }

  &--xlarge {
    padding: calc(
        (#{$tw-sz-btn-x-large-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-x-large-line-height}) / 2
      )
      calc((#{$tw-sz-btn-x-large-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }
}

.destructive-primary {
  background-color: $tw-clr-bg-danger;
  color: $tw-clr-txt-on-danger;
  svg {
    fill: $tw-clr-txt-on-danger;
  }
  &:hover {
    background-color: $tw-clr-bg-danger-hover;
  }

  &:active {
    background-color: $tw-clr-bg-danger-active;
  }

}

.destructive-secondary {
  background-color: $tw-clr-bg-danger-ghost;
  color: $tw-clr-txt-danger;
  svg {
    fill: $tw-clr-txt-danger;
  }
  border: $tw-sz-btn-stroke solid $tw-clr-brdr-danger;
  &:hover {
    background-color: $tw-clr-bg-danger-ghost-hover;
  }

  &:active {
    background-color: $tw-clr-bg-danger-ghost-active;
  }

  &--small {
    padding: calc(
        (#{$tw-sz-btn-small-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-small-line-height}) / 2
      )
      calc((#{$tw-sz-btn-small-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }

  &--medium {
    padding: calc(
        (#{$tw-sz-btn-medium-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-medium-line-height}) / 2
      )
      calc((#{$tw-sz-btn-medium-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }

  &--large {
    padding: calc(
        (#{$tw-sz-btn-large-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-large-line-height}) / 2
      )
      calc((#{$tw-sz-btn-large-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }

  &--xlarge {
    padding: calc(
        (#{$tw-sz-btn-x-large-height} - (2 * #{$tw-sz-btn-stroke}) - #{$tw-fnt-btn-label-x-large-line-height}) / 2
      )
      calc((#{$tw-sz-btn-x-large-height} - 2 * #{$tw-sz-btn-stroke}) / 2);
  }
}
