@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.pill {
  font-family: terraware.$tw-fnt-base-font-family;
  background: terraware.$tw-clr-bg-tertiary;
  padding: terraware.$tw-spc-base-xx-small terraware.$tw-spc-base-xx-small terraware.$tw-spc-base-xx-small 12px;
  display: flex;
  border-radius: 13px;
  align-items: center;

  .label {
    font-size: 12px;
    color: terraware.$tw-clr-txt;
    font-weight: 400;
    margin: 0;
  }

  .value {
    padding-left: terraware.$tw-spc-base-xx-small;
    font-size: 12px;
    color: terraware.$tw-clr-txt;
    font-weight: 600;
    margin: 0;

    &--no-label {
      padding-left: 0;
    }
  }

  .icon {
    fill: terraware.$tw-clr-icn;
    width: 12px;
    height: 12px;
    margin: 0 terraware.$tw-spc-base-xx-small;
  }

  .iconContainer {
    padding: 0;
  }

  .spacer {
    width: terraware.$tw-spc-base-x-small;
    height: 12px;
  }
}
