@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.multi-select {
  display: flex;
  flex-direction: column;

  .multi-select__container {
    position: relative;
    width: 228px;
    cursor: pointer;

    &--fullWidth {
      position: relative;
      width: 100%;
      cursor: pointer;
    }
  }

  .multi-select__label {
    font-family: terraware.$tw-fnt-frm-fld-label-font-family;
    font-size: terraware.$tw-fnt-frm-fld-label-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-label-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-label-line-height;
    color: terraware.$tw-clr-txt-secondary;
    margin-bottom: terraware.$tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .multi-select__error {
    display: flex;
    width: 100%;
    margin-top: terraware.$tw-spc-base-xx-small;

    &-text {
      font-family: terraware.$tw-fnt-frm-fld-error-text-font-family;
      font-size: terraware.$tw-fnt-frm-fld-error-text-font-size;
      font-weight: terraware.$tw-fnt-frm-fld-error-text-font-weight;
      line-height: terraware.$tw-fnt-frm-fld-error-text-line-height;
      color: terraware.$tw-clr-txt-danger;
      display: block;
      width: 100%;
      max-width: 100%;
    }

    &-icon {
      fill: terraware.$tw-clr-icn-danger;
      width: terraware.$tw-fnt-frm-fld-error-text-line-height;
      height: terraware.$tw-fnt-frm-fld-error-text-line-height;
      margin-right: terraware.$tw-spc-base-x-small;
    }
  }

  .multi-select__help-text {
    font-family: terraware.$tw-fnt-frm-fld-help-text-font-family;
    font-size: terraware.$tw-fnt-frm-fld-help-text-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-help-text-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-help-text-line-height;
    color: terraware.$tw-clr-txt-secondary;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: terraware.$tw-spc-base-xx-small;
  }

  .multi-select__placeholder-text {
    font-family: terraware.$tw-fnt-frm-fld-text-value-font-family;
    font-size: terraware.$tw-fnt-frm-fld-text-value-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-text-value-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-text-value-line-height;
    color: terraware.$tw-clr-txt-tertiary;
    margin: 0;
  }

  .multi-select__values {
    background-color: terraware.$tw-clr-bg;
    border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
    padding: #{terraware.$tw-spc-base-x-small - terraware.$tw-sz-frm-fld-text-input-stroke};
    border-radius: terraware.$tw-sz-base-x-small;
    border-width: terraware.$tw-sz-frm-fld-text-input-stroke;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:hover {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-hover;
    }

    &.open {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-active;
      outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-active;
      outline-offset: -(terraware.$tw-sz-frm-fld-text-input-stroke);
    }

    &.error {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger;
    }

    &--disabled {
      background-color: terraware.$tw-clr-bg;
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-tertiary;
      padding: #{terraware.$tw-spc-base-x-small - terraware.$tw-sz-frm-fld-text-input-stroke};
      border-radius: terraware.$tw-sz-base-x-small;
      border-width: terraware.$tw-sz-frm-fld-text-input-stroke;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__icon-button {
      width: terraware.$tw-fnt-frm-fld-text-value-line-height;
      height: terraware.$tw-fnt-frm-fld-text-value-line-height;
      padding: 0;
    }

    &__icon-right {
      width: terraware.$tw-fnt-frm-fld-text-value-line-height;
      height: terraware.$tw-fnt-frm-fld-text-value-line-height;
      fill: terraware.$tw-clr-icn;
      flex-shrink: 0;

      &--disabled {
        width: terraware.$tw-fnt-frm-fld-text-value-line-height;
        height: terraware.$tw-fnt-frm-fld-text-value-line-height;
        fill: terraware.$tw-clr-icn-secondary;
        flex-shrink: 0;
      }
    }
  }

  .multi-select__options-container {
    position: relative;
    height: 0;
    width: 100%;

    .multi-select__options {
      z-index: 3;
      width: calc(100% - 2px);
      position: absolute;
      top: 0px;
      list-style-type: none;
      padding: terraware.$tw-spc-base-x-small 0;
      background: terraware.$tw-clr-bg;
      border: 1px solid terraware.$tw-clr-brdr-secondary;
      margin: terraware.$tw-spc-base-xx-small 0 0;
      border-radius: terraware.$tw-sz-base-x-small;
      max-height: 140px;
      overflow-y: auto;

      .select-value {
        font-family: terraware.$tw-fnt-frm-fld-select-value-font-family;
        font-size: terraware.$tw-fnt-frm-fld-select-value-font-size;
        font-weight: terraware.$tw-fnt-frm-fld-select-value-font-weight;
        line-height: terraware.$tw-fnt-frm-fld-select-value-line-height;
        padding: terraware.$tw-spc-base-x-small terraware.$tw-spc-base-small;
        cursor: pointer;

        &:hover {
          background-color: terraware.$tw-clr-bg-selected-ghost-hover;
          color: terraware.$tw-clr-txt;
        }

        &:active {
          background-color: terraware.$tw-clr-bg-selected-ghost-active;
          color: terraware.$tw-clr-txt;
        }

        &--disabled {
          opacity: terraware.$tw-opcty-semantic-off;
        }
      }
    }
  }
}
