@use 'sass:math';

@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(../../fonts/Inter.ttf) format('truetype');
}

.select {
  display: flex;
  flex-flow: row wrap;

  .textfield-container {
    position: relative;
    width: 228px;

    &--fullWidth {
      width: 100%;
    }
  }

  .textfield-label {
    font-family: terraware.$tw-fnt-frm-fld-label-font-family;
    font-size: terraware.$tw-fnt-frm-fld-label-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-label-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-label-line-height;
    color: terraware.$tw-clr-txt-secondary;
    margin-bottom: terraware.$tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .textfield-help-text {
    font-family: terraware.$tw-fnt-frm-fld-help-text-font-family;
    font-size: terraware.$tw-fnt-frm-fld-help-text-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-help-text-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-help-text-line-height;
    color: terraware.$tw-clr-txt-secondary;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: terraware.$tw-spc-base-xx-small;
  }

  .textfield-value {
    background-color: terraware.$tw-clr-bg;
    border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
    padding: #{terraware.$tw-spc-base-x-small - terraware.$tw-sz-frm-fld-text-input-stroke};
    border-radius: terraware.$tw-sz-base-x-small;
    border-width: terraware.$tw-sz-frm-fld-text-input-stroke;
    display: flex;

    &:hover {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-hover;
    }

    &:active {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-active;
      outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-active;
    }

    &:focus-within {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-active;
      outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-active;
      outline-offset: -(terraware.$tw-sz-frm-fld-text-input-stroke);
    }

    input {
      border: none;
      width: 100%;
      font-family: terraware.$tw-fnt-frm-fld-text-value-font-family;
      font-size: terraware.$tw-fnt-frm-fld-text-value-font-size;
      font-weight: terraware.$tw-fnt-frm-fld-text-value-font-weight;
      line-height: terraware.$tw-fnt-frm-fld-text-value-line-height;
      color: terraware.$tw-clr-txt;
      cursor: pointer;
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;

      &::placeholder {
        font-family: terraware.$tw-fnt-frm-fld-text-placeholder-font-family;
        font-size: terraware.$tw-fnt-frm-fld-text-placeholder-font-size;
        font-weight: terraware.$tw-fnt-frm-fld-text-placeholder-font-weight;
        line-height: terraware.$tw-fnt-frm-fld-text-placeholder-line-height;
        color: terraware.$tw-clr-txt-tertiary;
      }

      &:focus-visible {
        outline: none;
      }
    }

    &--display {
      font-family: terraware.$tw-fnt-frm-fld-text-value-font-family;
      font-size: terraware.$tw-fnt-frm-fld-text-value-font-size;
      font-weight: terraware.$tw-fnt-frm-fld-text-value-font-weight;
      line-height: terraware.$tw-fnt-frm-fld-text-value-line-height;
      padding: terraware.$tw-spc-base-x-small 0;
      margin: 0;
    }

    &--disabled {
      opacity: terraware.$tw-opcty-semantic-off;
      pointer-events: none;

      &:hover {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
      }

      &:active {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
        outline: 0;
      }

      &:focus-within {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
        outline: 0;
      }
    }

    &--icon-right {
      width: terraware.$tw-fnt-frm-fld-text-value-line-height;
      height: terraware.$tw-fnt-frm-fld-text-value-line-height;
      fill: terraware.$tw-clr-icn;
      margin-left: terraware.$tw-spc-base-x-small;
      flex-shrink: 0;
    }

    &--icon-left {
      width: terraware.$tw-fnt-frm-fld-text-value-line-height;
      height: terraware.$tw-fnt-frm-fld-text-value-line-height;
      fill: terraware.$tw-clr-icn-secondary;
      margin-right: terraware.$tw-spc-base-x-small;
    }

    &--error {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger;
      background-color: terraware.$tw-clr-bg-danger-tertiary;

      &:hover {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger-hover;
      }

      &:active {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger-active;
        outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-danger-active;
      }

      &:focus-within {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger-active;
        outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-danger-active;
        outline-offset: -(terraware.$tw-sz-frm-fld-text-input-stroke);
      }
    }

    &--warning {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-warning;
      background-color: terraware.$tw-clr-bg-warning-tertiary;

      &:hover {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-warning-hover;
      }

      &:active {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-warning-active;
        outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-warning-active;
      }

      &:focus-within {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-warning-active;
        outline: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-warning-active;
        outline-offset: -(terraware.$tw-sz-frm-fld-text-input-stroke);
      }
    }

    &--readonly {
      background-color: terraware.$tw-clr-bg-secondary;

      &:hover {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
      }

      &:active {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
        outline: 0;
      }

      &:focus-within {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-secondary;
        outline: 0;
      }
    }

    &--readonly input {
      cursor: auto;
    }
  }

  .textfield-label-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: terraware.$tw-spc-base-xx-small;
  }

  .textfield-error-text {
    font-family: terraware.$tw-fnt-frm-fld-error-text-font-family;
    font-size: terraware.$tw-fnt-frm-fld-error-text-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-error-text-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-error-text-line-height;
    color: terraware.$tw-clr-txt-danger;
    display: block;
    width: 100%;
    max-width: 100%;

    &--icon {
      fill: terraware.$tw-clr-icn-danger;
      width: terraware.$tw-fnt-frm-fld-error-text-line-height;
      height: terraware.$tw-fnt-frm-fld-error-text-line-height;
      margin-right: terraware.$tw-spc-base-x-small;
    }
  }

  .textfield-warning-text {
    font-family: terraware.$tw-fnt-frm-fld-warning-text-font-family;
    font-size: terraware.$tw-fnt-frm-fld-warning-text-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-warning-text-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-warning-text-line-height;
    color: terraware.$tw-clr-txt-warning;
    display: block;
    width: 100%;
    max-width: 100%;

    &--icon {
      fill: terraware.$tw-clr-icn-warning;
      width: terraware.$tw-fnt-frm-fld-error-text-line-height;
      height: terraware.$tw-fnt-frm-fld-error-text-line-height;
      margin-right: terraware.$tw-spc-base-x-small;
    }
  }

  .options-container {
    z-index: 3;
    width: calc(100% - 2px);
    position: absolute;
    top: 44px;
    list-style-type: none;
    padding: terraware.$tw-spc-base-x-small 0;
    background: terraware.$tw-clr-bg;
    border: 1px solid terraware.$tw-clr-brdr-secondary;
    margin: terraware.$tw-spc-base-xx-small 0 0;
    border-radius: terraware.$tw-sz-base-x-small;
    max-height: 300px;
    overflow-y: auto;

    &.fixed-menu {
      visibility: 'hidden';

      &.positioned {
        visibility: 'visible';
        position: fixed;
        z-index: 11;
      }
    }

    .select-value {
      font-family: terraware.$tw-fnt-frm-fld-select-value-font-family;
      font-size: terraware.$tw-fnt-frm-fld-select-value-font-size;
      font-weight: terraware.$tw-fnt-frm-fld-select-value-font-weight;
      line-height: terraware.$tw-fnt-frm-fld-select-value-line-height;
      padding: terraware.$tw-spc-base-x-small terraware.$tw-spc-base-small;
      cursor: pointer;

      &:hover {
        background-color: terraware.$tw-clr-bg-selected-ghost-hover;
        color: terraware.$tw-clr-txt;
      }

      &:active {
        background-color: terraware.$tw-clr-bg-selected-ghost-active;
        color: terraware.$tw-clr-txt;
      }

      &--selected,
      &--selected:hover {
        background-color: terraware.$tw-clr-bg-selected;
        color: terraware.$tw-clr-txt-on-selected;
      }

      &--disabled {
        opacity: terraware.$tw-opcty-semantic-off;
      }
    }
  }

  .scroll-block {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}
