@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.error-box {
  display: flex;
  width: 60%;
  margin-top: terraware.$tw-spc-base-xx-small;
  background: terraware.$tw-clr-base-red-050;
  padding: 16px;
  margin: 0 auto;
  border: 1px solid terraware.$tw-clr-icn-danger;
  border-radius: 8px;
  flex-direction: column;

  &--container {
    display: flex;
    align-items: flex-start;
  }

  &.mobile {
    width: 100%;
  }
}

.error-text {
  font-family: terraware.$tw-fnt-frm-fld-error-text-font-family;
  font-size: terraware.$tw-fnt-base-font-size-body-02;
  font-weight: terraware.$tw-fnt-frm-fld-error-text-font-weight;
  line-height: terraware.$tw-fnt-frm-fld-error-text-line-height;
  color: terraware.$tw-clr-txt;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.error-title {
  font-family: terraware.$tw-fnt-frm-fld-error-text-font-family;
  font-size: terraware.$tw-fnt-base-font-size-body-02;
  font-weight: terraware.$tw-fnt-base-headline-01-semi-bold-font-weight;
  line-height: terraware.$tw-fnt-frm-fld-error-text-line-height;
  color: terraware.$tw-clr-txt;
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}

.button-container {
  width: 100%;
  text-align: right;
  margin-top: 16px;
}

.error-icon {
  fill: terraware.$tw-clr-txt-danger;
  margin-right: terraware.$tw-spc-base-x-small;
}
