@use '../../style-dictionary-dist/terraware';

.popover-multi-select__checkmark-selection {
  margin-right: terraware.$tw-spc-base-x-small;
}

.popover-multi-select__checkmark-spacer {
  width: calc(terraware.$tw-spc-base-x-small + terraware.$tw-sz-icon-small);
  height: terraware.$tw-sz-icon-small;
}
