@import '../../../style-dictionary-dist/button_variables.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

#spinner {
  animation: Spin 1s infinite linear;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tw-icon {
  vertical-align: bottom;

  &--small {
    width: $tw-sz-btn-small-icon;
    height: $tw-sz-btn-small-icon;
    margin-right: calc(
      (#{$tw-sz-btn-small-height} - #{$tw-fnt-btn-label-small-line-height}) / 2
    );
  }

  &--medium {
    width: $tw-sz-btn-medium-icon;
    height: $tw-sz-btn-medium-icon;
    margin-right: calc(
      (#{$tw-sz-btn-medium-height} - #{$tw-fnt-btn-label-medium-line-height}) /
        2
    );
  }

  &--large {
    width: $tw-sz-btn-large-icon;
    height: $tw-sz-btn-large-icon;
    margin-right: calc(
      (#{$tw-sz-btn-large-height} - #{$tw-fnt-btn-label-large-line-height}) / 2
    );
  }

  &--xlarge {
    width: $tw-sz-btn-x-large-icon;
    height: $tw-sz-btn-x-large-icon;
    margin-right: calc(
      (#{$tw-sz-btn-x-large-height} - #{$tw-fnt-btn-label-xlarge-line-height}) /
        2
    );
  }
}
