@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

#spinner {
  animation: Spin 1s infinite linear;
}

@keyframes Spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tw-icon {
  &--small {
    width: terraware.$tw-sz-icon-small;
    height: terraware.$tw-sz-icon-small;
  }

  &--medium {
    width: terraware.$tw-sz-icon-medium;
    height: terraware.$tw-sz-icon-medium;
  }

  &--large {
    width: terraware.$tw-sz-icon-large;
    height: terraware.$tw-sz-icon-large;
  }

  &--xlarge {
    width: terraware.$tw-sz-icon-x-large;
    height: terraware.$tw-sz-icon-x-large;
  }
}
