@use '../../style-dictionary-dist/terraware.scss';

.view-photos-dialog-container {
  min-height: 200px;
  background: terraware.$tw-clr-bg;
}

.view-photos-dialog-image {
  object-fit: contain;
  margin: auto;
  height: 400px;
  width: 100%;
}

.photo-numbering {
  font-size: 12px;
  color: terraware.$tw-clr-txt-info;
}
