@import '../../style-dictionary-dist/terraware.scss';

.view-photos-dialog-image {
  object-fit: contain;
  margin: auto;
  height: 400px;
  width: 100%;
}

.photo-numbering {
  font-size: 12px;
  color: $tw-clr-txt-info;
}