@use '../../style-dictionary-dist/terraware.scss';

.timeline {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.timeline-label {
  font-family: terraware.$tw-fnt-frm-fld-label-font-family;
  font-size: terraware.$tw-fnt-frm-fld-label-font-size;
  font-weight: terraware.$tw-fnt-frm-fld-label-font-weight;
  line-height: terraware.$tw-fnt-frm-fld-label-line-height;
  color: terraware.$tw-clr-txt-secondary;
}

.timeline-selected-label {
  border-radius: 8px;
  background: terraware.$tw-clr-bg-secondary;
  width: 140px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 12px;
  font-family: terraware.$tw-fnt-btn-label-small-font-family;
  font-size: terraware.$tw-fnt-btn-label-small-font-size;
  font-weight: terraware.$tw-fnt-mssg-title-font-weight;
  line-height: terraware.$tw-fnt-btn-label-small-line-height;
  color: terraware.$tw-clr-base-black;
}

.timeline-container {
  width: 100%;
  max-width: 500px;
  margin: 0 0;
  position: relative;
  height: 40px;
}

.timeline-marker {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &--small {
    width: 12px;
    height: 12px;
  }

  &--medium {
    width: 18px;
    height: 18px;
  }

  &--large {
    width: 24px;
    height: 24px;
  }

  &--clickable {
    cursor: pointer;
  }

  &__label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: terraware.$tw-fnt-frm-fld-label-font-family;
    font-size: terraware.$tw-fnt-frm-fld-label-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-label-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-label-line-height;
    color: terraware.$tw-clr-txt-secondary;

    &--top {
      bottom: 100%;
    }

    &--bottom {
      top: 100%;
      transform: translateX(-100%) rotate(-45deg);
      transform-origin: right center;
    }
  }
}

.timeline-rail {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 5px;
  background-color: terraware.$tw-clr-base-gray-200;
  transform: translateY(-50%);
}
