@use 'sass:math';

@import '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.markdown {
  font-family: $tw-fnt-base-body-01-regular-font-family;
  font-size: $tw-fnt-frm-fld-text-value-font-size;
  font-weight: $tw-fnt-frm-fld-text-value-font-weight;
  line-height: $tw-fnt-frm-fld-text-value-line-height;
  color: $tw-clr-txt;
  padding: $tw-spc-base-x-small 0;
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin: 1.5em 0 0.75em;
    line-height: 1.25;
  }

  h1 {
    font-size: $tw-fnt-base-headline-01-semi-bold-font-size;
    font-weight: $tw-fnt-base-headline-01-semi-bold-font-weight;
    line-height: $tw-fnt-base-headline-01-semi-bold-line-height;
  }
  h2 {
    font-size: $tw-fnt-base-headline-02-semi-bold-font-size;
    font-weight: $tw-fnt-base-headline-02-semi-bold-font-weight;
    line-height: $tw-fnt-base-headline-02-semi-bold-line-height;
  }
  h3 {
    font-size: $tw-fnt-base-headline-03-semi-bold-font-size;
    font-weight: $tw-fnt-base-headline-03-semi-bold-font-weight;
    line-height: $tw-fnt-base-headline-03-semi-bold-line-height;
  }
  h4 {
    font-size: $tw-fnt-base-headline-04-semi-bold-font-size;
    font-weight: $tw-fnt-base-headline-04-semi-bold-font-weight;
    line-height: $tw-fnt-base-headline-04-semi-bold-line-height;
  }
  h5 {
    font-size: $tw-fnt-base-headline-05-semi-bold-font-size;
    font-weight: $tw-fnt-base-headline-05-semi-bold-font-weight;
    line-height: $tw-fnt-base-headline-05-semi-bold-line-height;
  }
  h6 {
    font-size: $tw-fnt-base-headline-06-semi-bold-font-size;
    font-weight: $tw-fnt-base-headline-06-semi-bold-font-weight;
    line-height: $tw-fnt-base-headline-06-semi-bold-line-height;
  }

  p {
    font-size: $tw-fnt-frm-fld-text-value-font-size;
    font-weight: $tw-fnt-frm-fld-text-value-font-weight;
    line-height: $tw-fnt-frm-fld-text-value-line-height;
  }

  a {
    color: $tw-clr-txt-brand;
    text-decoration: underline;
    &:hover {
      color: $tw-clr-txt-brand;
    }
  }

  code {
    font-family: 'Fira Code', monospace;
    background: $tw-clr-bg-secondary;
    color: $tw-clr-txt-secondary;
  }

  pre code {
    display: block;
    padding: 4px;
    overflow-x: auto;
    background: $tw-clr-bg-secondary;
    color: $tw-clr-txt-secondary;
    border-color: $tw-clr-brdr-secondary;
    border-radius: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: none;
    padding: 4px 8px;
    text-align: left;
  }

  thead {
    tr {
      background-color: $tw-clr-base-gray-050;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $tw-clr-base-white;
      }

      &:nth-child(even) {
        background-color: $tw-clr-base-gray-050;
      }
    }
  }

  blockquote {
    border-left: 4px solid $tw-clr-brdr-brand;
    padding-left: 1em;
    margin: 1em 0;
    color: $tw-clr-txt-secondary;
  }
}
