@use 'sass:math';

@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.markdown {
  display: flex;
  flex-flow: column;
  font-family: terraware.$tw-fnt-frm-fld-text-value-font-family;
  color: terraware.$tw-clr-txt;
  padding: terraware.$tw-spc-base-x-small 0;
  margin: 0;

  h1 {
    font-size: terraware.$tw-fnt-base-headline-01-semi-bold-font-size;
    font-weight: terraware.$tw-fnt-base-headline-01-semi-bold-font-weight;
    line-height: terraware.$tw-fnt-base-headline-01-semi-bold-line-height;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: terraware.$tw-fnt-base-headline-02-semi-bold-font-size;
    font-weight: terraware.$tw-fnt-base-headline-02-semi-bold-font-weight;
    line-height: terraware.$tw-fnt-base-headline-02-semi-bold-line-height;
    padding: 0;
    margin: 0;
  }
  h3 {
    font-size: terraware.$tw-fnt-base-headline-03-semi-bold-font-size;
    font-weight: terraware.$tw-fnt-base-headline-03-semi-bold-font-weight;
    line-height: terraware.$tw-fnt-base-headline-03-semi-bold-line-height;
    padding: 0;
    margin: 0;
  }
  h4 {
    font-size: terraware.$tw-fnt-base-headline-04-semi-bold-font-size;
    font-weight: terraware.$tw-fnt-base-headline-04-semi-bold-font-weight;
    line-height: terraware.$tw-fnt-base-headline-04-semi-bold-line-height;
    padding: 0;
    margin: 0;
  }
  h5 {
    font-size: terraware.$tw-fnt-base-headline-05-semi-bold-font-size;
    font-weight: terraware.$tw-fnt-base-headline-05-semi-bold-font-weight;
    line-height: terraware.$tw-fnt-base-headline-05-semi-bold-line-height;
    padding: 0;
    margin: 0;
  }
  h6 {
    font-size: terraware.$tw-fnt-base-headline-06-semi-bold-font-size;
    font-weight: terraware.$tw-fnt-base-headline-06-semi-bold-font-weight;
    line-height: terraware.$tw-fnt-base-headline-06-semi-bold-line-height;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: terraware.$tw-fnt-frm-fld-text-value-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-text-value-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-text-value-line-height;
    padding: 0;
    margin: 0;
  }

  a {
    color: terraware.$tw-clr-txt-brand;
    text-decoration: underline;
    &:hover {
      color: terraware.$tw-clr-txt-brand;
    }
  }

  code {
    font-family: 'Fira Code', monospace;
    background: terraware.$tw-clr-bg-secondary;
    color: terraware.$tw-clr-txt-secondary;
  }

  pre code {
    display: block;
    padding: 4px;
    overflow-x: auto;
    background: terraware.$tw-clr-bg-secondary;
    color: terraware.$tw-clr-txt-secondary;
    border-color: terraware.$tw-clr-brdr-secondary;
    border-radius: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: none;
    padding: 4px 8px;
    text-align: left;
  }

  thead {
    tr {
      background-color: terraware.$tw-clr-base-gray-050;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: terraware.$tw-clr-base-white;
      }

      &:nth-child(even) {
        background-color: terraware.$tw-clr-base-gray-050;
      }
    }
  }

  blockquote {
    border-left: 4px solid terraware.$tw-clr-brdr-brand;
    padding-left: 1em;
    margin: 1em 0;
    color: terraware.$tw-clr-txt-secondary;
  }
}
