@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.dialog-box-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1300;
  inset: 0px;

  &--skrim {
    background-color: rgba(terraware.$tw-clr-base-gray-025, terraware.$tw-opcty-base-060);
    background-image: linear-gradient(
      180deg,
      rgba(terraware.$tw-clr-base-green-050, terraware.$tw-opcty-base-000),
      rgba(terraware.$tw-clr-base-green-050, 0.24)
    );
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1300;
    inset: 0px;
  }

  &.mobile {
    margin: 0 terraware.$tw-spc-base-small;
    .dialog-box {
      &--footer {
        button {
          margin: 0 0 terraware.$tw-spc-base-x-small 0;
        }
        &-container {
          flex-direction: column;
          .left-button,
          .right-buttons {
            display: flex;
            flex-direction: column;
          }
        }
      }
      &--actions-container {
        flex-direction: column-reverse;
      }
    }
  }
}

.dialog-box {
  box-shadow: terraware.$tw-elvtn-base-800;
  border-radius: terraware.$tw-sz-base-small;
  display: flex;
  flex-direction: column;
  background: terraware.$tw-clr-base-white;
  max-height: calc(100vh - 128px); //64 from top and bottom
  max-width: calc(100vw - 32px);
  margin-top: auto;
  margin-bottom: auto;

  &--closed {
    display: none;
  }

  &--small {
    width: 320px;
  }
  &--medium {
    width: 480px;
  }
  &--large {
    width: 640px;
  }
  &--x-large {
    width: 800px;
  }
  &--xx-large {
    width: 1080px;
  }

  &--header {
    border-bottom: 1px solid terraware.$tw-clr-brdr-tertiary;
    padding: terraware.$tw-spc-base-small terraware.$tw-spc-base-medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: terraware.$tw-sz-base-small terraware.$tw-sz-base-small 0 0;
    .title {
      font-family: terraware.$tw-fnt-dlg-bx-title-font-family;
      font-size: terraware.$tw-fnt-dlg-bx-title-font-size;
      font-weight: terraware.$tw-fnt-dlg-bx-title-font-weight;
      line-height: terraware.$tw-fnt-dlg-bx-title-line-height;
      color: terraware.$tw-clr-txt;
      text-align: center;
      margin: 0;
      width: 100%;
    }

    .icon-close {
      fill: terraware.$tw-clr-icn-secondary;
      height: terraware.$tw-sz-base-medium;
      width: terraware.$tw-sz-base-medium;
    }

    .MuiButtonBase-root {
      padding: terraware.$tw-spc-base-xx-small;
    }

    .close-icon-spacer {
      height: calc(#{terraware.$tw-sz-base-medium} + 2 *#{terraware.$tw-spc-base-xx-small});
      width: calc(#{terraware.$tw-sz-base-medium} + 2 *#{terraware.$tw-spc-base-xx-small});
    }
  }

  &--body {
    background: terraware.$tw-clr-base-white;
    padding: terraware.$tw-spc-base-medium;
    text-align: center;
    &.scrolled {
      overflow: auto;
    }
  }

  &--body-no-footer {
    padding: terraware.$tw-spc-base-medium;
    &.scrolled {
      overflow: auto;
    }
  }

  &--message {
    font-family: terraware.$tw-fnt-dlg-bx-message-font-family;
    font-size: terraware.$tw-fnt-dlg-bx-message-font-size;
    font-weight: terraware.$tw-fnt-dlg-bx-message-font-weight;
    line-height: terraware.$tw-fnt-dlg-bx-message-line-height;
    color: terraware.$tw-clr-txt;
    width: 100%;
    text-align: center;
  }

  &--footer {
    border-radius: 0 0 terraware.$tw-sz-base-small terraware.$tw-sz-base-small;
    background-color: terraware.$tw-clr-bg-secondary;
    padding: terraware.$tw-spc-base-medium terraware.$tw-spc-base-medium;
    button + button {
      margin-left: terraware.$tw-spc-base-x-small;
    }
  }

  &--footer-container {
    display: flex;
    justify-content: space-between;
  }

  &--actions-container {
    display: flex;
    justify-content: center;
  }
}
