@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(../../fonts/Inter.ttf) format('truetype');
}

.navbar {
  height: 100%;
  position: fixed;
  z-index: 1101;
  width: terraware.$tw-sz-nvgtn-side-nav-width;
  display: flex;
  flex-direction: column;
  padding-left: terraware.$tw-sz-base-small;
  padding-right: terraware.$tw-sz-base-small;
  padding-top: terraware.$tw-sz-base-small;

  &.transparent {
    background-color: transparent !important;
    background-image: unset !important;
    mix-blend-mode: multiply;
  }

  .nav-section {
    padding: terraware.$tw-spc-base-x-small terraware.$tw-spc-base-small;
    .divider {
      border-top: 1px solid terraware.$tw-clr-brdr-tertiary;
    }

    &--title {
      font-family: terraware.$tw-fnt-nvgtn-side-nav-section-title-font-family;
      font-size: terraware.$tw-fnt-nvgtn-side-nav-section-title-font-size;
      font-weight: terraware.$tw-fnt-nvgtn-side-nav-section-title-font-weight;
      line-height: terraware.$tw-fnt-nvgtn-side-nav-section-title-line-height;
      text-transform: terraware.$tw-fnt-nvgtn-side-nav-section-title-text-transform;
      color: terraware.$tw-clr-txt;
      display: block;
      margin-top: terraware.$tw-spc-base-small;

      &.no-separator {
        margin-top: 0;
      }
    }
  }

  .nav-item-custom-content {
    border: none;
    background: none;
  }

  .nav-item {
    font-family: terraware.$tw-fnt-nvgtn-side-nav-item-label-font-family;
    font-size: terraware.$tw-fnt-nvgtn-side-nav-item-label-font-size;
    font-weight: terraware.$tw-fnt-nvgtn-side-nav-item-label-font-weight;
    line-height: terraware.$tw-fnt-nvgtn-side-nav-item-label-line-height;
    color: terraware.$tw-clr-txt;
    border-radius: 16px;
    mix-blend-mode: multiply;

    .nav-item--disabled {
      opacity: 0.5;
    }

    .nav-item-content {
      border-radius: 16px;
      padding: 12px 16px;
      display: flex;
      width: 100%;
      font-weight: terraware.$tw-fnt-nvgtn-side-nav-item-label-font-weight;

      .nav-item--anchor {
        text-decoration: none;
        color: terraware.$tw-clr-txt;
      }

      .nav-item--label {
        flex: 1 1 auto;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &--has-children {
      > .nav-item-content:hover {
        background-color: terraware.$tw-clr-bg-ghost-hover;
      }
      > .nav-item-content:active {
        background-color: terraware.$tw-clr-bg-ghost-active;
      }
      &.nav-item--children-selected > .nav-item-content:hover {
        background-color: transparent;
      }
      &.nav-item--children-selected > .nav-item-content:ative {
        background-color: transparent;
      }
    }

    &:not(.nav-item--has-children) {
      &:hover {
        background-color: terraware.$tw-clr-bg-ghost-hover;
      }
      &.nav-item--selected,
      &.nav-item--selected:hover {
        background-color: terraware.$tw-clr-bg-ghost-active;
      }
    }

    button {
      background: none;
      border: none;
      color: terraware.$tw-clr-txt;
      font-family: 'Inter';
      padding-right: terraware.$tw-spc-base-small;
      padding-left: 16px;
    }

    &--icon {
      margin-right: terraware.$tw-spc-base-x-small;
      line-height: terraware.$tw-sz-icon-small;
      height: terraware.$tw-sz-icon-small;
      min-width: terraware.$tw-sz-icon-small;
      width: terraware.$tw-sz-icon-small;
    }

    &--arrow {
      height: terraware.$tw-sz-icon-small;
      width: terraware.$tw-sz-icon-small;
      margin-left: terraware.$tw-spc-base-x-small;

      path {
        fill: terraware.$tw-clr-icn-secondary;
      }
    }

    .subnavbar .nav-item {
      padding-left: terraware.$tw-spc-base-small;
      padding-right: terraware.$tw-spc-base-small;

      &-content {
        padding-left: terraware.$tw-spc-base-medium;
      }
    }
  }

  .nav-footer {
    margin-top: auto;
    margin-bottom: 32px;
  }
}
