@import '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.date-picker {
  display: flex;
  flex-flow: column wrap;

  .textfield-label {
    font-family: $tw-fnt-frm-fld-label-font-family;
    font-size: $tw-fnt-frm-fld-label-font-size;
    font-weight: $tw-fnt-frm-fld-label-font-weight;
    line-height: $tw-fnt-frm-fld-label-line-height;
    color: $tw-clr-txt-secondary;
    margin-bottom: $tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .textfield-error-text-container {
    display: flex;
    margin-top: $tw-spc-base-x-small;

    .textfield-error-text {
      font-family: $tw-fnt-frm-fld-error-text-font-family;
      font-size: $tw-fnt-frm-fld-error-text-font-size;
      font-weight: $tw-fnt-frm-fld-error-text-font-weight;
      line-height: $tw-fnt-frm-fld-error-text-line-height;
      color: $tw-clr-txt-danger;
      width: 100%;
      max-width: 100%;

      &--icon {
        fill: $tw-clr-txt-danger;
        width: $tw-fnt-frm-fld-error-text-line-height;
        height: $tw-fnt-frm-fld-error-text-line-height;
        margin-right: $tw-spc-base-x-small;
      }
    }
  }

  .MuiInputBase-root {
    border: 1px solid $tw-clr-bg-info;
    border-radius: $tw-sz-base-x-small;
    position: unset;
  }

  .MuiInputBase-input {
    height: 18px;
  }

  .MuiIconButton-root {
    color: $tw-clr-icn-secondary;
  }

  input {
    padding: calc(#{$tw-spc-base-xx-small} * 2.5) calc(#{$tw-spc-base-xx-small} * 3);
    background-color: $tw-clr-base-white;
    border-radius: $tw-sz-base-x-small 0 0 $tw-sz-base-x-small;
  }

  .MuiOutlinedInput-root {
    fieldset {
      border-color: $tw-clr-brdr-secondary;
    }
    &:hover fieldset {
      border-color: $tw-clr-brdr-hover;
    }
    &.Mui-focused fieldset {
      border-color: $tw-clr-brdr-hover;
    }
  }

  &--error {
    .MuiInputBase-root {
      fieldset {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-brdr-danger;
      }

      background-color: $tw-clr-bg-danger-tertiary;

      &:hover fieldset {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-brdr-danger;
      }

      &:active fieldset {
        border: $tw-sz-frm-fld-text-input-stroke-active solid $tw-clr-brdr-danger;
      }
    }

    input {
      background-color: $tw-clr-bg-danger-tertiary;
    }
  }
}
