@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url(../../fonts/Inter.ttf) format('truetype');
}

.date-picker {
  display: flex;
  flex-flow: column wrap;

  .textfield-label {
    font-family: terraware.$tw-fnt-frm-fld-label-font-family;
    font-size: terraware.$tw-fnt-frm-fld-label-font-size;
    font-weight: terraware.$tw-fnt-frm-fld-label-font-weight;
    line-height: terraware.$tw-fnt-frm-fld-label-line-height;
    color: terraware.$tw-clr-txt-secondary;
    margin-bottom: terraware.$tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .textfield-error-text-container {
    display: flex;
    margin-top: terraware.$tw-spc-base-x-small;

    .textfield-error-text {
      font-family: terraware.$tw-fnt-frm-fld-error-text-font-family;
      font-size: terraware.$tw-fnt-frm-fld-error-text-font-size;
      font-weight: terraware.$tw-fnt-frm-fld-error-text-font-weight;
      line-height: terraware.$tw-fnt-frm-fld-error-text-line-height;
      color: terraware.$tw-clr-txt-danger;
      width: 100%;
      max-width: 100%;

      &--icon {
        fill: terraware.$tw-clr-txt-danger;
        width: terraware.$tw-fnt-frm-fld-error-text-line-height;
        height: terraware.$tw-fnt-frm-fld-error-text-line-height;
        margin-right: terraware.$tw-spc-base-x-small;
      }
    }
  }

  .MuiInputBase-root {
    border: 1px solid terraware.$tw-clr-bg-info;
    border-radius: terraware.$tw-sz-base-x-small;
    position: unset;
  }

  .MuiInputBase-input {
    height: 18px;
  }

  .MuiIconButton-root {
    color: terraware.$tw-clr-icn-secondary;
  }

  input {
    padding: calc(#{terraware.$tw-spc-base-xx-small} * 2.5) calc(#{terraware.$tw-spc-base-xx-small} * 3);
    background-color: terraware.$tw-clr-base-white;
    border-radius: terraware.$tw-sz-base-x-small 0 0 terraware.$tw-sz-base-x-small;
  }

  .MuiOutlinedInput-root {
    border-color: terraware.$tw-clr-brdr-secondary;

    &:hover {
      border-color: terraware.$tw-clr-brdr-hover;
    }
    &.Mui-focused {
      border-color: terraware.$tw-clr-brdr-hover;
    }
  }

  &--error {
    .MuiInputBase-root {
      border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger;
      background-color: terraware.$tw-clr-bg-danger-tertiary;

      &:hover {
        border: terraware.$tw-sz-frm-fld-text-input-stroke solid terraware.$tw-clr-brdr-danger;
      }

      &:active {
        border: terraware.$tw-sz-frm-fld-text-input-stroke-active solid terraware.$tw-clr-brdr-danger;
      }
    }

    input {
      background-color: terraware.$tw-clr-bg-danger-tertiary;
    }
  }
}
