@import '../../style-dictionary-dist/textfield_variables.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.date-picker {
  display: flex;
  flex-flow: column wrap;

  .textfield-label {
    font-family: $tw-fnt-frm-fld-label-font-family;
    font-size: $tw-fnt-frm-fld-label-font-size;
    font-weight: $tw-fnt-frm-fld-label-font-weight;
    line-height: $tw-fnt-frm-fld-label-line-height;
    color: $tw-clr-frm-fld-label;
    margin-bottom: $tw-spc-base-xx-small;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &--error {
    .MuiInputBase-root {
      border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke-error;
      background-color: $tw-clr-frm-fld-text-input-fill-error;

      &:hover {
        border: $tw-sz-frm-fld-text-input-stroke solid $tw-clr-frm-fld-text-input-stroke-error;
      }

      &:active {
        border: $tw-sz-frm-fld-text-input-stroke-active solid $tw-clr-frm-fld-text-input-stroke-error;
      }
    }
  }

  .textfield-error-text-container {
    display: flex;
    margin-top: $tw-spc-base-x-small;

    .textfield-error-text {
      font-family: $tw-fnt-frm-fld-error-text-font-family;
      font-size: $tw-fnt-frm-fld-error-text-font-size;
      font-weight: $tw-fnt-frm-fld-error-text-font-weight;
      line-height: $tw-fnt-frm-fld-error-text-line-height;
      color: $tw-clr-frm-fld-error-text;
      width: 100%;
      max-width: 100%;

      &--icon {
        fill: $tw-clr-frm-fld-error-text;
        width: $tw-fnt-frm-fld-error-text-line-height;
        height: $tw-fnt-frm-fld-error-text-line-height;
        margin-right: $tw-spc-base-x-small;
      }
    }
  }

  .MuiInputBase-root {
    border: 1px solid $tw-clr-base-semantic-passive;
    position: unset;
  }

  input {
    padding: calc(#{$tw-spc-base-xx-small} * 2.5) calc(#{$tw-spc-base-xx-small} * 3);
    background-color: $tw-clr-base-white;
  }
}
