$tw-clr-base-blue-050: #EFF1F8;
$tw-clr-base-blue-100: #DDE1F1;
$tw-clr-base-blue-200: #BDC4E4;
$tw-clr-base-blue-300: #9EA9D7;
$tw-clr-base-blue-400: #808ECA;
$tw-clr-base-blue-500: #6172BE;
$tw-clr-base-blue-600: #4658AA;
$tw-clr-base-blue-700: #35437F;
$tw-clr-base-blue-800: #242D57;
$tw-clr-base-green-050: #E2F6EC;
$tw-clr-base-green-100: #C2EBD6;
$tw-clr-base-green-200: #84D6AC;
$tw-clr-base-green-300: #41C07F;
$tw-clr-base-green-400: #36A36B;
$tw-clr-base-green-500: #2C8658;
$tw-clr-base-green-600: #236A46;
$tw-clr-base-green-700: #1A5035;
$tw-clr-base-green-800: #123624;
$tw-clr-base-light-green-050: #EAF3DC;
$tw-clr-base-light-green-100: #D4E8BA;
$tw-clr-base-light-green-200: #ACD278;
$tw-clr-base-light-green-300: #86BA3E;
$tw-clr-base-light-green-400: #719E34;
$tw-clr-base-light-green-500: #5D822B;
$tw-clr-base-light-green-600: #496622;
$tw-clr-base-light-green-700: #384D1A;
$tw-clr-base-light-green-800: #263411;
$tw-clr-base-orange-050: #F8EFE5;
$tw-clr-base-orange-100: #F1DFCB;
$tw-clr-base-orange-200: #E3C099;
$tw-clr-base-orange-300: #D5A167;
$tw-clr-base-orange-400: #C78237;
$tw-clr-base-orange-500: #A36A2D;
$tw-clr-base-orange-600: #815424;
$tw-clr-base-orange-700: #61401B;
$tw-clr-base-orange-800: #422B12;
$tw-clr-base-pink-050: #F9EDF2;
$tw-clr-base-pink-100: #F3DCE6;
$tw-clr-base-pink-200: #E7B9CD;
$tw-clr-base-pink-300: #DC97B5;
$tw-clr-base-pink-400: #D0749B;
$tw-clr-base-pink-500: #C34D7F;
$tw-clr-base-pink-600: #A13664;
$tw-clr-base-pink-700: #7A294C;
$tw-clr-base-pink-800: #531C34;
$tw-clr-base-purple-050: #F4EFF9;
$tw-clr-base-purple-100: #E8DEF2;
$tw-clr-base-purple-200: #D3BEE6;
$tw-clr-base-purple-300: #BD9FDA;
$tw-clr-base-purple-400: #A880CE;
$tw-clr-base-purple-500: #9360C1;
$tw-clr-base-purple-600: #7A43AD;
$tw-clr-base-purple-700: #5D3383;
$tw-clr-base-purple-800: #3E2359;
$tw-clr-base-red-050: #FAEEED;
$tw-clr-base-red-100: #F4DBD9;
$tw-clr-base-red-200: #EBBAB7;
$tw-clr-base-red-300: #E19893;
$tw-clr-base-red-400: #D7756F;
$tw-clr-base-red-500: #CB4D45;
$tw-clr-base-red-600: #A8362F;
$tw-clr-base-red-700: #802923;
$tw-clr-base-red-800: #571C18;
$tw-clr-base-yellow-050: #F5F1DC;
$tw-clr-base-yellow-100: #EBE2B5;
$tw-clr-base-yellow-200: #D7C76F;
$tw-clr-base-yellow-300: #C0AB35;
$tw-clr-base-yellow-400: #A3912D;
$tw-clr-base-yellow-500: #867725;
$tw-clr-base-yellow-600: #6A5E1D;
$tw-clr-base-yellow-700: #504716;
$tw-clr-base-yellow-800: #36300F;
$tw-clr-base-black: #000000;
$tw-clr-base-gray-025: #F9F8F7;
$tw-clr-base-gray-050: #F1F0EC;
$tw-clr-base-gray-075: #EBEAE4;
$tw-clr-base-gray-100: #E3E1D9;
$tw-clr-base-gray-200: #CBC6B7;
$tw-clr-base-gray-300: #B2AB93;
$tw-clr-base-gray-400: #9A9172;
$tw-clr-base-gray-500: #7F775B;
$tw-clr-base-gray-600: #645E48;
$tw-clr-base-gray-700: #4B4736;
$tw-clr-base-gray-800: #333025;
$tw-clr-base-gray-900: #1D1B15;
$tw-clr-base-transparent: #FFFFFF00;
$tw-clr-base-white: #FFFFFF;
$tw-clr-bg: #FFFFFF;
$tw-clr-bg-active: #F1F0EC;
$tw-clr-bg-ghost: rgba(#FFFFFF, 0);
$tw-clr-bg-ghost-active: rgba(#B2AB93, 0.4);
$tw-clr-bg-ghost-hover: rgba(#B2AB93, 0.2);
$tw-clr-bg-hover: #F9F8F7;
$tw-clr-bg-inverse: #333025;
$tw-clr-bg-secondary: #F1F0EC;
$tw-clr-bg-secondary-active: #E3E1D9;
$tw-clr-bg-secondary-hover: #EBEAE4;
$tw-clr-bg-tertiary: #CBC6B7;
$tw-clr-bg-tertiary-active: #B2AB93;
$tw-clr-bg-tertiary-hover: linear-gradient(rgba(#B2AB93, 0.5), rgba(#B2AB93, 0.5)), linear-gradient(#CBC6B7, #CBC6B7);
$tw-clr-brdr: #333025;
$tw-clr-brdr-active: linear-gradient(rgba(#4658AA, 0.5), rgba(#4658AA, 0.5)), linear-gradient(#6172BE, #6172BE);
$tw-clr-brdr-focus: #4658AA;
$tw-clr-brdr-hover: #6172BE;
$tw-clr-brdr-secondary: #7F775B;
$tw-clr-brdr-tertiary: #B2AB93;
$tw-clr-icn: #333025;
$tw-clr-icn-inverse: #FFFFFF;
$tw-clr-icn-secondary: #7F775B;
$tw-clr-txt: #333025;
$tw-clr-txt-inverse: #FFFFFF;
$tw-clr-txt-secondary: #645E48;
$tw-clr-txt-tertiary: #B2AB93;
$tw-clr-bg-brand: #2C8658;
$tw-clr-bg-brand-active: #4658AA;
$tw-clr-bg-brand-ghost: rgba(#2C8658, 0);
$tw-clr-bg-brand-ghost-active: rgba(#2C8658, 0.2);
$tw-clr-bg-brand-ghost-hover: rgba(#2C8658, 0.1);
$tw-clr-bg-brand-hover: linear-gradient(rgba(#236A46, 0.5), rgba(#236A46, 0.5)), linear-gradient(#2C8658, #2C8658);
$tw-clr-bg-brand-tertiary: #E2F6EC;
$tw-clr-brdr-brand: #2C8658;
$tw-clr-icn-brand: #2C8658;
$tw-clr-icn-on-brand: #FFFFFF;
$tw-clr-txt-brand: #2C8658;
$tw-clr-txt-on-brand: #FFFFFF;
$tw-clr-bg-danger: #CB4D45;
$tw-clr-bg-danger-active: #A8362F;
$tw-clr-bg-danger-ghost: rgba(#CB4D45, 0);
$tw-clr-bg-danger-ghost-active: rgba(#CB4D45, 0.2);
$tw-clr-bg-danger-ghost-hover: rgba(#CB4D45, 0.1);
$tw-clr-bg-danger-hover: linear-gradient(rgba(#A8362F, 0.5), rgba(#A8362F, 0.5)), linear-gradient(#CB4D45, #CB4D45);
$tw-clr-bg-danger-tertiary: #FAEEED;
$tw-clr-brdr-danger: #CB4D45;
$tw-clr-brdr-danger-active: #A8362F;
$tw-clr-brdr-danger-hover: linear-gradient(rgba(#A8362F, 0.5), rgba(#A8362F, 0.5)), linear-gradient(#CB4D45, #CB4D45);
$tw-clr-icn-danger: #CB4D45;
$tw-clr-icn-on-danger: #FFFFFF;
$tw-clr-txt-danger: #CB4D45;
$tw-clr-txt-on-danger: #FFFFFF;
$tw-clr-bg-info: #7F775B;
$tw-clr-bg-info-tertiary: #F1F0EC;
$tw-clr-brdr-info: #7F775B;
$tw-clr-icn-info: #7F775B;
$tw-clr-icn-on-info: #FFFFFF;
$tw-clr-txt-info: #645E48;
$tw-clr-txt-on-info: #FFFFFF;
$tw-clr-bg-selected: #6172BE;
$tw-clr-bg-selected-ghost: rgba(#6172BE, 0);
$tw-clr-bg-selected-ghost-active: rgba(#6172BE, 0.2);
$tw-clr-bg-selected-ghost-hover: rgba(#6172BE, 0.1);
$tw-clr-brdr-selected: #6172BE;
$tw-clr-icn-on-selected: #FFFFFF;
$tw-clr-icn-selected: #6172BE;
$tw-clr-txt-on-selected: #FFFFFF;
$tw-clr-txt-selected: #6172BE;
$tw-clr-bg-success: #2C8658;
$tw-clr-bg-success-tertiary: #E2F6EC;
$tw-clr-brdr-success: #2C8658;
$tw-clr-icn-on-success: #FFFFFF;
$tw-clr-icn-success: #2C8658;
$tw-clr-txt-on-success: #FFFFFF;
$tw-clr-txt-success: #2C8658;
$tw-clr-bg-warning: #A36A2D;
$tw-clr-bg-warning-tertiary: #F8EFE5;
$tw-clr-brdr-warning: #A36A2D;
$tw-clr-brdr-warning-active: #815424;
$tw-clr-brdr-warning-hover: linear-gradient(rgba(#815424, 0.5), rgba(#815424, 0.5)), linear-gradient(#A36A2D, #A36A2D);
$tw-clr-icn-on-warning: #FFFFFF;
$tw-clr-icn-warning: #A36A2D;
$tw-clr-txt-on-warning: #FFFFFF;
$tw-clr-txt-warning: #A36A2D;