@use '../../style-dictionary-dist/terraware.scss';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(../../fonts/Inter.ttf) format('truetype');
}

.tw-message {
  &.tw-message--page {
    width: 100%;
    &.tw-message--container {
      margin: terraware.$tw-spc-base-small 0;
    }
    &.tw-message--title-container {
      display: flex;
    }
  }

  border-radius: terraware.$tw-sz-base-small;
  display: flex;
  width: 480px;

  &.tw-message--mobile {
    width: 100%;
  }

  &.tw-message--toast {
    box-shadow: 0 terraware.$tw-sz-base-x-small terraware.$tw-sz-base-small 0 rgba(terraware.$tw-clr-base-gray-800, terraware.$tw-opcty-base-020);
  }

  &--container {
    margin: terraware.$tw-spc-base-small;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &--title-container {
    h4 {
      font-family: terraware.$tw-fnt-mssg-title-font-family;
      font-size: terraware.$tw-fnt-mssg-title-font-size;
      font-weight: terraware.$tw-fnt-mssg-title-font-weight;
      line-height: terraware.$tw-fnt-mssg-title-line-height;
      color: terraware.$tw-clr-txt;
      padding: 0;
      margin: 0 0 terraware.$tw-spc-base-x-small;
    }
  }

  &--main-content {
    display: flex;
    width: 100%;

    p {
      font-family: terraware.$tw-fnt-mssg-body-font-family;
      font-size: terraware.$tw-fnt-mssg-body-font-size;
      font-weight: terraware.$tw-fnt-mssg-body-font-weight;
      line-height: terraware.$tw-fnt-mssg-body-line-height;
      color: terraware.$tw-clr-txt;
      padding: 0;
      margin: 0;
    }

    .main-content--icon {
      width: terraware.$tw-sz-base-medium;
      height: terraware.$tw-sz-base-medium;
      margin-right: terraware.$tw-spc-base-small;
    }
  }

  &--main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &--actions-container {
    align-self: end;

    button:first-child {
      margin-right: terraware.$tw-spc-base-x-small;
    }
  }

  &--action-text {
    font-family: terraware.$tw-fnt-mssg-body-font-family;
    font-size: terraware.$tw-fnt-mssg-body-font-size;
    font-weight: terraware.$tw-fnt-mssg-body-font-weight;
    line-height: terraware.$tw-fnt-mssg-body-line-height;
    color: terraware.$tw-clr-txt-brand;
    margin-left: terraware.$tw-spc-base-x-small;
    background: none;
    border: 0;
    cursor: pointer;
    height: fit-content;
  }

  &--left-side {
    border-radius: (terraware.$tw-sz-base-small - 1) 0 0 (terraware.$tw-sz-base-small - 1);
    padding: terraware.$tw-spc-base-small terraware.$tw-spc-base-small 0 terraware.$tw-spc-base-small;
    .left-side--icon {
      fill: terraware.$tw-clr-icn-inverse;
      width: terraware.$tw-sz-base-medium;
      height: terraware.$tw-sz-base-medium;
    }
  }

  .toast-message--close-icon {
    margin-left: terraware.$tw-spc-base-x-small;
    fill: terraware.$tw-clr-icn-secondary;
    width: terraware.$tw-sz-base-medium;
    height: terraware.$tw-sz-base-medium;
  }

  .page-message--close-icon {
    margin-left: terraware.$tw-spc-base-x-small;
    fill: terraware.$tw-clr-icn-secondary;
    width: terraware.$tw-sz-base-medium;
    height: terraware.$tw-sz-base-medium;
  }

  .icon-container {
    background: none;
    border: 0;
    cursor: pointer;
    height: fit-content;
  }

  &--info {
    border: 1px solid terraware.$tw-clr-brdr-info;
    background-color: terraware.$tw-clr-bg-info-tertiary;

    &.tw-message--page {
      border: 1px solid terraware.$tw-clr-brdr-info;
      .main-content--icon {
        fill: terraware.$tw-clr-icn-info;
      }
    }
    .tw-message--left-side {
      background-color: terraware.$tw-clr-bg-info;
    }
    .left-side--icon {
      fill: terraware.$tw-clr-icn-on-info;
    }
  }

  &--critical {
    border: 1px solid terraware.$tw-clr-brdr-danger;
    background-color: terraware.$tw-clr-bg-danger-tertiary;

    &.tw-message--page {
      border: 1px solid terraware.$tw-clr-brdr-danger;

      .main-content--icon {
        fill: terraware.$tw-clr-icn-danger;
      }
    }
    .tw-message--left-side {
      background-color: terraware.$tw-clr-bg-danger;
    }
    .left-side--icon {
      fill: terraware.$tw-clr-icn-on-danger;
    }
  }

  &--warning {
    border: 1px solid terraware.$tw-clr-brdr-warning;
    background-color: terraware.$tw-clr-bg-warning-tertiary;

    &.tw-message--page {
      border: 1px solid terraware.$tw-clr-brdr-warning;

      .main-content--icon {
        fill: terraware.$tw-clr-icn-warning;
      }
    }
    .tw-message--left-side {
      background-color: terraware.$tw-clr-bg-warning;
    }
    .left-side--icon {
      fill: terraware.$tw-clr-icn-on-warning;
    }
  }

  &--success {
    border: 1px solid terraware.$tw-clr-brdr-success;
    background-color: terraware.$tw-clr-bg-success-tertiary;

    &.tw-message--page {
      border: 1px solid terraware.$tw-clr-brdr-success;

      .main-content--icon {
        fill: terraware.$tw-clr-icn-success;
      }
    }
    .tw-message--left-side {
      background-color: terraware.$tw-clr-bg-success;
    }
    .left-side--icon {
      fill: terraware.$tw-clr-icn-on-success;
    }
  }
}
