@use '../../style-dictionary-dist/terraware.scss';

.circle-container {
  position: relative;
  display: inline-flex;

  & .MuiCircularProgress-root {
    color: terraware.$tw-clr-bg-brand;
  }
}

.circle-fill {
  position: absolute;
  left: 0;
}

.circle-track {
  color: terraware.$tw-clr-bg-brand-tertiary !important;
  &--small {
    width: terraware.$tw-spc-base-x-large !important;
    height: terraware.$tw-spc-base-x-large !important;

    & svg {
      & circle {
        stroke-width: 3.67;
        r: 20;
      }
    }
  }

  &--medium {
    width: calc(#{terraware.$tw-spc-base-x-large} * 2) !important;
    height: calc(#{terraware.$tw-spc-base-x-large} * 2) !important;
    & svg {
      & circle {
        stroke-width: 3.67;
        r: 18;
      }
    }
  }

  &--large {
    width: calc(#{terraware.$tw-spc-base-x-large} * 4) !important;
    height: calc(#{terraware.$tw-spc-base-x-large} * 4) !important;
    & svg {
      & circle {
        stroke-width: 3.67;
        r: 14;
      }
    }
  }
}

.label-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-circle-label {
  &--small {
    font-family: terraware.$tw-fnt-prgrss-circle-value-small-font-family;
    font-size: terraware.$tw-fnt-prgrss-circle-value-small-font-size;
    font-weight: terraware.$tw-fnt-prgrss-circle-value-small-font-weight;
    line-height: terraware.$tw-fnt-prgrss-circle-value-small-line-height;
    color: terraware.$tw-clr-txt;
  }
  &--medium {
    font-family: terraware.$tw-fnt-prgrss-circle-value-medium-font-family;
    font-size: terraware.$tw-fnt-prgrss-circle-value-medium-font-size;
    font-weight: terraware.$tw-fnt-prgrss-circle-value-medium-font-weight;
    line-height: terraware.$tw-fnt-prgrss-circle-value-medium-line-height;
    color: terraware.$tw-clr-txt;
  }
  &--large {
    font-family: terraware.$tw-fnt-prgrss-circle-value-large-font-family;
    font-size: terraware.$tw-fnt-prgrss-circle-value-large-font-size;
    font-weight: terraware.$tw-fnt-prgrss-circle-value-large-font-weight;
    line-height: terraware.$tw-fnt-prgrss-circle-value-large-line-height;
    color: terraware.$tw-clr-txt;
  }
}
